//
   Created by Fszer on 2015/1/5 0005.
//- functions
mixin col-block(name,flag,text)
   div(class="am-u-lg-4 am-u-sm-4"+name)
      if flag
         button#more.am-btn.non.am-btn-block
            =text
            
mixin grou-btn(id,val,text)
   button(id=id value=val class='am-btn am-btn-secondary am-btn-sm act-btn')
      =text

doctype html
html(lang="en")
   head
      title
      meta(charset="UTF-8")
      meta(name="viewpoint" content="width=device-width")
      script(src="./js/jquery-2.1.1.min.js")
      script(src="./js/functions.js")
      link(rel="stylesheet" href="./css/amazeui.css" )/
      link(rel="stylesheet" href="./css/style.css" )/
   body.main
      nav#topSites
         #topSites-innter
            ul(style="list-style: none;" id="topSites")
      aside#sidebar
         #time
            #clock_div
            #date_div
         #tab.am-g
            +col-block(" red")
            +col-block(" blue",1,"more")  
            +col-block(" green")
         #option
            article#add-img
               h2
                  |上传自定义壁纸（一张限定）
               #drop_area
                  p
                     |将图片拖拽到此区域
                  input#imgurl(type="file")
                  #preview
               #up-button.rig
                  button#up(class="am-round am-btn am-btn-success am-btn-xs")
                     |设 置
            article#setting
               h2.
                  选择壁纸替换模式
               #select-group.center.am-btn-group
                  +grou-btn("one",'1',"自定义 ")
                  +grou-btn("rand",'2',"言叶之庭 ")
                  +grou-btn("nomal",'3',"默认 ")

